In [1]:
import pandas as pd

## Load raw school table

In [2]:
csv_file_1 = "../Extract/top500_elementary_school.csv"
top500_elementary_school_df =pd.read_csv(csv_file_1).iloc[:, 1:]
top500_elementary_school_df.head()

,name,rating,district,niche_grade,stu_number,ratio
0,Meadow Glens Elementary School,#1 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. ...,grade A+,494,15:1
1,Barbara B. Rose Elementary School,#2 Best Public Elementary Schools in Chicago Area,Barrington Community Unit School District No. ...,grade A+,436,13:1
2,Grove Avenue Elementary School,#3 Best Public Elementary Schools in Chicago Area,Barrington Community Unit School District No. ...,grade A+,520,15:1
3,Ellsworth Elementary School,#4 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. ...,grade A+,258,14:1
4,Steeple Run Elementary School,#5 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. ...,grade A+,629,16:1

## clean the district column

In [3]:
top500_elementary_school_df['district'] = top500_elementary_school_df['district'].str.split(',').str[0]

In [4]:
print(top500_elementary_school_df.head())

                                name  \
0     Meadow Glens Elementary School
1  Barbara B. Rose Elementary School
2     Grove Avenue Elementary School
3        Ellsworth Elementary School
4      Steeple Run Elementary School

                                              rating  \
0  #1 Best Public Elementary Schools in Chicago Area
1  #2 Best Public Elementary Schools in Chicago Area
2  #3 Best Public Elementary Schools in Chicago Area
3  #4 Best Public Elementary Schools in Chicago Area
4  #5 Best Public Elementary Schools in Chicago Area

                                            district niche_grade stu_number  \
0  Naperville Community Unit School District No. 203    grade A+        494
1  Barrington Community Unit School District No. 220    grade A+        436
2  Barrington Community Unit School District No. 220    grade A+        520
3  Naperville Community Unit School District No. 203    grade A+        258
4  Naperville Community Unit School District No. 203    grade A+        629

  ratio
0  15:1
1  13:1
2  15:1
3  14:1
4  16:1

In [5]:
top500_elementary_school_df.columns

Index(['name', 'rating', 'district', 'niche_grade', 'stu_number', 'ratio'], dtype='object')

## check type of data in each column

In [6]:
top500_elementary_school_df.dtypes

name           object
rating         object
district       object
niche_grade    object
stu_number     object
ratio          object
dtype: object

## convert student number to integer type

In [7]:
top500_elementary_school_df['stu_number'] =  top500_elementary_school_df['stu_number'].str.replace(',','')
top500_elementary_school_df['stu_number'] =top500_elementary_school_df['stu_number'].astype(int)

In [8]:
top500_elementary_school_df.dtypes

name           object
rating         object
district       object
niche_grade    object
stu_number      int64
ratio          object
dtype: object

## Export clean table

In [9]:
top500_elementary_school_df.to_csv('top500_elementary_school_clean.csv')

In [10]:
csv_file_2 = "../Extract/top50_school_district.csv"
top50_school_district_df = pd.read_csv(csv_file_2).iloc[:, 1:]
top50_school_district_df.head()

,name,rating,city,niche_grade,number_school,number_student
0,Adlai E. Stevenson High School District No. 125,#1 Best School Districts in Chicago Area,"LINCOLNSHIRE, IL",grade A+,2,"4,271"
1,Community High School District 128,#2 Best School Districts in Chicago Area,"VERNON HILLS, IL",grade A+,2,"3,287"
2,New Trier Township High School District No. 203,#3 Best School Districts in Chicago Area,"NORTHFIELD, IL",grade A+,2,"4,040"
3,Glenbrook High Schools District 225,#4 Best School Districts in Chicago Area,"GLENVIEW, IL",grade A+,4,"5,201"
4,Township High School District No. 113,#5 Best School Districts in Chicago Area,"HIGHLAND PARK, IL",grade A+,2,"3,467"

## convert student number to integer type

In [11]:
top50_school_district_df['number_student'] = top50_school_district_df['number_student'].str.replace(',','')
top50_school_district_df['number_student'] = top50_school_district_df['number_student'].astype(int)

In [12]:
top50_school_district_df.dtypes

name              object
rating            object
city              object
niche_grade       object
number_school      int64
number_student     int64
dtype: object

## Export clean table

In [13]:
top50_school_district_df.to_csv('top50_school_district_clean.csv')