In [4]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from config import password

### Store CSV --Top 50 School Districts-- into DataFrame

In [5]:
csv_file = "../Transform/top50_school_district_clean.csv"
district_df = pd.read_csv(csv_file).iloc[:,1:]

district_df.head()

,name,rating,city,niche_grade,number_school,number_student
0,Adlai E. Stevenson High School District No. 125,#1 Best School Districts in Chicago Area,"LINCOLNSHIRE, IL",grade A+,2,4271
1,Community High School District 128,#2 Best School Districts in Chicago Area,"VERNON HILLS, IL",grade A+,2,3287
2,New Trier Township High School District No. 203,#3 Best School Districts in Chicago Area,"NORTHFIELD, IL",grade A+,2,4040
3,Glenbrook High Schools District 225,#4 Best School Districts in Chicago Area,"GLENVIEW, IL",grade A+,4,5201
4,Township High School District No. 113,#5 Best School Districts in Chicago Area,"HIGHLAND PARK, IL",grade A+,2,3467

### Store CSV --Top 500 Elementery Schools-- into DataFrame

In [6]:
csv_file = "../Transform/top500_elementary_school_clean.csv"
school_df = pd.read_csv(csv_file).iloc[:,1:]

school_df.head()

,name,rating,district,niche_grade,stu_number,ratio
0,Meadow Glens Elementary School,#1 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,494,15:1
1,Barbara B. Rose Elementary School,#2 Best Public Elementary Schools in Chicago Area,Barrington Community Unit School District No. 220,grade A+,436,13:1
2,Grove Avenue Elementary School,#3 Best Public Elementary Schools in Chicago Area,Barrington Community Unit School District No. 220,grade A+,520,15:1
3,Ellsworth Elementary School,#4 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,258,14:1
4,Steeple Run Elementary School,#5 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,629,16:1

### Connect to local Postgres database

In [7]:
rds_connection_string = f"postgres:{password}@localhost:5432/CMAPSA"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [8]:
engine.table_names()

<ipython-input-8-d72bc75a6b62>:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['district', 'school']

### Use pandas to load DataFrames into Postgres database tables

In [9]:
## Truncate the table
engine.execute("TRUNCATE TABLE district")

In [10]:
## Read Empty Table
pd.read_sql_query('select * from district', con=engine).head(100)

Empty DataFrame
Columns: [id, name, rating, city, niche_grade, number_school, number_student]
Index: []

In [11]:
## Load DataFrame into Table
district_df.to_sql(name='district', con=engine, if_exists='append', index=False)

In [12]:
##Confirm data has been added by querying the table
pd.read_sql_query('select * from district', con=engine).head(100)

,id,name,rating,city,niche_grade,number_school,number_student
0,751,Adlai E. Stevenson High School District No. 125,#1 Best School Districts in Chicago Area,"LINCOLNSHIRE, IL",grade A+,2,4271
1,752,Community High School District 128,#2 Best School Districts in Chicago Area,"VERNON HILLS, IL",grade A+,2,3287
2,753,New Trier Township High School District No. 203,#3 Best School Districts in Chicago Area,"NORTHFIELD, IL",grade A+,2,4040
3,754,Glenbrook High Schools District 225,#4 Best School Districts in Chicago Area,"GLENVIEW, IL",grade A+,4,5201
4,755,Township High School District No. 113,#5 Best School Districts in Chicago Area,"HIGHLAND PARK, IL",grade A+,2,3467
5,756,Hinsdale Township High School District No. 86,#6 Best School Districts in Chicago Area,"HINSDALE, IL",grade A+,3,4146
6,757,Naperville Community Unit School District No. 203,#7 Best School Districts in Chicago Area,"NAPERVILLE, IL",grade A+,22,16586
7,758,Niles Township Community High School District ...,#8 Best School Districts in Chicago Area,"SKOKIE, IL",grade A+,3,4592
8,759,Barrington Community Unit School District No. 220,#9 Best School Districts in Chicago Area,"BARRINGTON, IL",grade A+,12,8557
9,760,Township High School District No. 211,#10 Best School Districts in Chicago Area,"PALATINE, IL",grade A+,7,11855
10,761,Township High School District No. 214,#11 Best School Districts in Chicago Area,"ARLINGTON HEIGHTS, IL",grade A+,11,11774
11,762,Indian Prairie Community Unit School District ...,#12 Best School Districts in Chicago Area,"AURORA, IL",grade A+,33,26906
12,763,Elmhurst School District No. 205,#13 Best School Districts in Chicago Area,"ELMHURST, IL",grade A+,13,8596
13,764,Community High School District No. 155,#14 Best School Districts in Chicago Area,"CRYSTAL LAKE, IL",grade A+,5,5777
14,765,Community Unit School District No. 200,#15 Best School Districts in Chicago Area,"WHEATON, IL",grade A+,20,12319
15,766,Lincoln-Way Community High School District No....,#16 Best School Districts in Chicago Area,"NEW LENOX, IL",grade A+,3,6677
16,767,Grayslake Community High School District No. 127,#17 Best School Districts in Chicago Area,"GRAYSLAKE, IL",grade A+,2,2764
17,768,Consolidated High School District No. 230,#18 Best School Districts in Chicago Area,"ORLAND PARK, IL",grade A+,3,7441
18,769,Maine Township High School District No. 207,#19 Best School Districts in Chicago Area,"PARK RIDGE, IL",grade A+,4,6275
19,770,Community High School District No. 99,#20 Best School Districts in Chicago Area,"DOWNERS GROVE, IL",grade A+,2,4890
20,771,St. Charles Community Unit School District No....,#21 Best School Districts in Chicago Area,"SAINT CHARLES, IL",grade A+,17,12248
21,772,Lake Zurich Community Unit School District No. 95,#22 Best School Districts in Chicago Area,"LAKE ZURICH, IL",grade A+,8,5565
22,773,Community High School District No. 117,#23 Best School Districts in Chicago Area,"LAKE VILLA, IL",grade A+,3,2652
23,774,Glenbard Township High School District No. 87,#24 Best School Districts in Chicago Area,"GLEN ELLYN, IL",grade A+,4,8032
24,775,Geneva Community Unit School District No. 304,#25 Best School Districts in Chicago Area,"GENEVA, IL",grade A+,10,5537
25,776,School Town of Munster,#26 Best School Districts in Chicago Area,"MUNSTER, IN",grade A+,5,4206
26,777,Huntley Community School District No 158,#27 Best School Districts in Chicago Area,"ALGONQUIN, IL",grade A,8,9110
27,778,Lisle Community Unit School District No. 202,#28 Best School Districts in Chicago Area,"LISLE, IL",grade A,3,1410
28,779,Community Unit School District No. 201,#29 Best School Districts in Chicago Area,"WESTMONT, IL",grade A,5,1343
29,780,Crown Point Community School Corporation,#30 Best School Districts in Chicago Area,"CROWN POINT, IN",grade A,10,8795
30,781,Batavia Public School District 101,#31 Best School Districts in Chicago Area,"BATAVIA, IL",grade A,8,5527
31,782,Duneland School Corporation,#32 Best School Districts in Chicago Area,"CHESTERTON, IN",grade A,9,5865
32,783,Lake Central School Corporation,#33 Best School Districts in Chicago Area,"SAINT JOHN, IN",grade A,10,9587
33,784,DuPage High School District No. 88,#34 Best School Districts in Chicago Area,"ADDISON, IL",grade A,2,3923
34,785,Leyden Community High School District No. 212,#35 Best School Districts in Chicago Area,"FRANKLIN PARK, IL",grade A,2,3396
35,786,Union Township School Corporation,#36 Best School Districts in Chicago Area,"VALPARAISO, IN",grade A,4,1463
36,787,Valparaiso Community Schools,#37 Best School Districts in Chicago Area,"VALPARAISO, IN",grade A minus,12,6278
37,788,Oswego Community Unit School District No. 308,#38 Best School Districts in Chicago Area,"OSWEGO, IL",grade A minus,22,17650
38,789,Woodstock Community Unit School District No. 200,#39 Best School Districts in Chicago Area,"WOODSTOCK, IL",grade A minus,12,6332
39,790,McHenry Community High School District No. 156,#40 Best School Districts in Chicago Area,"MCHENRY, IL",grade A minus,2,2146
40,791,Community Unit School District No. 300,#41 Best School Districts in Chicago Area,"ALGONQUIN, IL",grade B+,28,20613
41,792,Plainfield School District No. 202,#42 Best School Districts in Chicago Area,"PLAINFIELD, IL",grade B+,30,26033
42,793,Community High School District No. 218,#43 Best School Districts in Chicago Area,"OAK LAWN, IL",grade B+,4,5342
43,794,Valley View Community Unit School District No....,#44 Best School Districts in Chicago Area,"ROMEOVILLE, IL",grade B+,20,15979
44,795,School Town of Highland,#45 Best School Districts in Chicago Area,"HIGHLAND, IN",grade B+,6,3224
45,796,Hanover Community School Corporation,#46 Best School Districts in Chicago Area,"CEDAR LAKE, IN",grade B+,4,2461
46,797,Yorkville Community Unit School District No. 115,#47 Best School Districts in Chicago Area,"YORKVILLE, IL",grade B+,9,6255
47,798,Wauconda Community Unit School District No. 118,#48 Best School Districts in Chicago Area,"WAUCONDA, IL",grade B+,6,4501
48,799,School City of Hobart,#49 Best School Districts in Chicago Area,"HOBART, IN",grade B+,6,4088
49,800,Griffith Public Schools,#50 Best School Districts in Chicago Area,"GRIFFITH, IN",grade B,5,2260

In [13]:
## Truncate the table
engine.execute("TRUNCATE TABLE school")

In [14]:
## Read Empty Table
pd.read_sql_query('select * from school', con=engine).head(100)

Empty DataFrame
Columns: [id, name, rating, district, niche_grade, stu_number, ratio]
Index: []

In [15]:
## Load DataFrame into Table
school_df.to_sql(name='school', con=engine, if_exists='append', index=False)

In [16]:
##Confirm data has been added by querying the table
pd.read_sql_query('select * from school', con=engine).head(100)

,id,name,rating,district,niche_grade,stu_number,ratio
0,6945,Meadow Glens Elementary School,#1 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,494,15:1
1,6946,Barbara B. Rose Elementary School,#2 Best Public Elementary Schools in Chicago Area,Barrington Community Unit School District No. 220,grade A+,436,13:1
2,6947,Grove Avenue Elementary School,#3 Best Public Elementary Schools in Chicago Area,Barrington Community Unit School District No. 220,grade A+,520,15:1
3,6948,Ellsworth Elementary School,#4 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,258,14:1
4,6949,Steeple Run Elementary School,#5 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,629,16:1
...,...,...,...,...,...,...,...
95,7040,Bell-Graham Elementary School,#96 Best Public Elementary Schools in Chicago ...,St. Charles Community Unit School District No....,grade A,440,15:1
96,7041,Romona Elementary School,#97 Best Public Elementary Schools in Chicago ...,Wilmette School District No. 39,grade A,532,12:1
97,7042,Bower Elementary School,#98 Best Public Elementary Schools in Chicago ...,Community Unit School District No. 200,grade A,441,12:1
98,7043,Jackson Elementary School,#99 Best Public Elementary Schools in Chicago ...,Elmhurst School District No. 205,grade A,457,14:1
99,7044,Gower West Elementary School,#100 Best Public Elementary Schools in Chicago...,Gower School District No. 62,grade A,507,15:1

### Join Top Elementery Schools and Top School Districts

In [17]:
school_df['district']=school_df['district'].str.strip()
district_df['name']=district_df['name'].str.strip()

In [18]:
school_df['district'].head(10)

0    Naperville Community Unit School District No. 203
1    Barrington Community Unit School District No. 220
2    Barrington Community Unit School District No. 220
3    Naperville Community Unit School District No. 203
4    Naperville Community Unit School District No. 203
5    Naperville Community Unit School District No. 203
6    Naperville Community Unit School District No. 203
7    Naperville Community Unit School District No. 203
8    Indian Prairie Community Unit School District ...
9    Naperville Community Unit School District No. 203
Name: district, dtype: object

In [19]:
district_df['name'].head(10)

0      Adlai E. Stevenson High School District No. 125
1                   Community High School District 128
2      New Trier Township High School District No. 203
3                  Glenbrook High Schools District 225
4                Township High School District No. 113
5        Hinsdale Township High School District No. 86
6    Naperville Community Unit School District No. 203
7    Niles Township Community High School District ...
8    Barrington Community Unit School District No. 220
9                Township High School District No. 211
Name: name, dtype: object

In [20]:
## Associate a School District with each school :Inner Join
school_district_lj_df = pd.merge(school_df, district_df, how='left', left_on = 'district', right_on = 'name')

In [23]:
## Display Joined DataSets
school_district_lj_df.head()

,name_x,rating_x,district,niche_grade_x,stu_number,ratio,name_y,rating_y,city,niche_grade_y,number_school,number_student
0,Meadow Glens Elementary School,#1 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,494,15:1,Naperville Community Unit School District No. 203,#7 Best School Districts in Chicago Area,"NAPERVILLE, IL",grade A+,22.0,16586.0
1,Barbara B. Rose Elementary School,#2 Best Public Elementary Schools in Chicago Area,Barrington Community Unit School District No. 220,grade A+,436,13:1,Barrington Community Unit School District No. 220,#9 Best School Districts in Chicago Area,"BARRINGTON, IL",grade A+,12.0,8557.0
2,Grove Avenue Elementary School,#3 Best Public Elementary Schools in Chicago Area,Barrington Community Unit School District No. 220,grade A+,520,15:1,Barrington Community Unit School District No. 220,#9 Best School Districts in Chicago Area,"BARRINGTON, IL",grade A+,12.0,8557.0
3,Ellsworth Elementary School,#4 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,258,14:1,Naperville Community Unit School District No. 203,#7 Best School Districts in Chicago Area,"NAPERVILLE, IL",grade A+,22.0,16586.0
4,Steeple Run Elementary School,#5 Best Public Elementary Schools in Chicago Area,Naperville Community Unit School District No. 203,grade A+,629,16:1,Naperville Community Unit School District No. 203,#7 Best School Districts in Chicago Area,"NAPERVILLE, IL",grade A+,22.0,16586.0

In [24]:
school_district_lj_df.to_csv('./top500_elementary_school_withdistrict_clean.csv')